
/* Header */

header{
    border-bottom: solid grey 1px;
}
#btnr{
    background-color: #FFE600;
    border: solid #FFE600;
}
.marca a{
    padding-right: 100px;
    text-decoration: none;
}
.letra{
    color: #FFE600  ;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #484848;
}

.form-gap {
    padding-top: 70px;
}
.btn{
    color: black;
    background-color: #FFE600;
    border: none;
}
.panel-body{
    background-color: black;
    border: none;
border-radius: 20px;
}
.panel{
    border: none;
    border-radius: 20px;
}