/* Header */

header{
    border-bottom: solid grey 1px;
}
#btnr{
    background-color: #FFE600;
    border: solid #FFE600;
}
.marca a{
    padding-right: 100px;
    text-decoration: none;
}
.letra{
    color: #FFE600  ;
}

body {
    font-family: "Lato", sans-serif;
}
